<!DOCTYPE html>
<html>
  <head>
    <title>RouteWise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.css" rel="stylesheet" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.3.0/mapbox-gl.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/navbar" %>

    <% if notice %>
      <div class="rw-flash rw-flash--notice">
        <%= notice %>
      </div>
    <% end %>

    <% if alert %>
      <div class="rw-flash rw-flash--alert">
        <%= alert %>
      </div>
    <% end %>

    <main class="rw-container">
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
